.mobile-one-menu a {
    background-color: #fff;
    border-bottom: 0.5px solid #e2e2e2;
    padding: 20px 15px;
}

/* .mobile-one-menu a:active {
    background-color: #ddd;
} */

.mobile-one-menu a div {
    display: flex;
    align-items: center;
    color: #353535;
}

.mobile-one-menu a div svg {
    font-size: 20px;
}

.mobile-one-menu a div span {
    margin-right: 10px;
    font-size: 14px;
}