.list-page__item-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 99px;
    border-radius: 5px;
    border: 0.7px solid #ECECEC;
    padding: 7px;
    position: relative;
    transition: 0.3s;
}

.list-page__item-link:active {
    background-color: #ddd;
}

.list-page__item-body-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 5px;
}

.list-page__item-body-info h2 {
    color: #413D3D;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}

.list-page__item-body-info-price {
    font-size: 12px;
    color: #413D3D;
    position: absolute;
    bottom: 25px;
}

.list-page__item-body-info-time {
    font-size: 12px;
    color: #888;
}

.list-page__item-img img {
    width: 87px;
    height: 85px;
    object-fit: cover;
}


@media only screen and (max-width : 1440px) {
    .list-page__items-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width : 830px) {

    .list-page__item-link,
    .list-page__items-box .MuiSkeleton-root.MuiSkeleton-rectangular.MuiSkeleton-pulse.list-page__item-link {
        width: 90% !important;
        min-width: 280px !important;
    }
}