.mobile-navbar {
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99;
    margin-bottom: 10px;
    position: relative;
}

.mobile-navbar form {
    width: 70%;
}

.mobile-navbar__input {
    width: 100%;
    background: #F1F2F4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;
    height: 41px;
    padding: 0 15px;
}

.mobile-navbar__input-value {
    position: absolute;
    background-color: #ddd;
    padding: 15px 10px;
    left: 15px;
    right: 15px;
    top: 56px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
}

.mobile-navbar__input::placeholder {
    color: #BFBFBF;
    font-size: 14px;
}

.mobile-navbar__btn {
    width: 30%;
    background: #F1F2F4;
    border: none;
    border-right: 1px solid #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 41px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mobile-navbar__btn-text {
    margin-right: 3px;
    font-size: 11px;
}

.mobile-navbar.active .mobile-navbar__input {
    border-bottom-right-radius: 0;
}

.mobile-navbar.active .mobile-navbar__btn {
    border-bottom-left-radius: 0;
}